$scrollcolor: rgb(0, 203, 218);

.box {
    border-style: outset;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    width: 100%;
    height: 600px;
    padding: 10px;
    margin: 12px;
    overflow: scroll;
}
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid $scrollcolor;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: darken($color: $scrollcolor, $amount: 20);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($color: $scrollcolor, $amount: 20);
}
