$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;
  strong{
    margin-right: 1rem;

  }
  label {
    display: flex;
    margin: 1rem 0;
    &.methods {
      span {
        cursor: pointer;
        margin-right: 2rem;
        padding: 0.25rem 0.5rem;
        background: rgb(89, 105, 253);
        &:hover,
        &.active {
          background: #fff;
        }
      }
    }
  }
}
