$backgroundColor: rgb(71, 71, 71);
$footerfont: Georgia, Serif;

.footer {
    position: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background: darken($backgroundColor, 10);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    footer {
        background-color: $backgroundColor;
        text-align: center;
        font-family: $footerfont;
        color: aliceblue;
    }
}
